$primary: #7e49ff;
$secondary1: #1a9bfc;

// // Scrollbar Starts
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    // background-color: $primary;
    -webkit-border-radius: 80px;
    border-radius: 80px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 80px;
    border-radius: 80px;
    background: $primary;
}

// // Scrollbar Ends

// Smoth Scrolling Starts
// .js-cont {
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

// .js-scroll {
//   position: fixed;
//   z-index: 10;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   width: 100%;
//   will-change: transform;
// }

// Smoth Scrolling Ends

section,
footer {
    overflow: hidden;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        font-size: inherit;
        font-weight: inherit;
    }
}

button {
    border: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 150%;
    // background-color: transparent;
}

input,
textarea {
    width: 100%;
    outline-color: transparent;
    font-size: 15px;

    // border-radius: 10px;
    &::placeholder {
        font-size: 15px;
    }
}

table {
    input {
        width: inherit;
    }
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-auto {
    max-width: 100%;
}

.max-un {
    max-width: unset;
}

.d-rtl {
    direction: rtl;
}

// .v-line {
//     &::before {
//         position: absolute;
//         content: "";
//         width: 1px;
//         height: 40px;
//         background-color: #222;
//     }

//     &.lg::before {
//         @apply w-0.5 h-[60px] lg:h-[60px] opacity-40;
//     }

//     &.lg2::before {
//         height: 17px;
//         padding: 1px;
//         background-color: rgba(var(--s2), 1) !important;
//     }

//     &.xl::before {
//         background-color: rgb(var(--p7)) !important;
//         height: 15px;
//     }

//     &.sm::before {
//         height: 25px;
//     }

//     &.smx::before {
//         width: 1px;
//         height: 20px;
//         background: rgba(255, 255, 255, 0.2);
//     }

//     &.dashed::before {
//         border-right: 1px dashed rgb(var(--n5));
//         background: transparent;
//     }
// }

iframe {
    border: 0;
    width: 100%;
}

// Tab Starts
.tabcontents {
    position: relative;
}

.nav-links {
    // border-bottom: 4px solid transparent;
    transition: 0.5s linear !important;

    &.active {
        background-color: #ffc700;
        transition: 0.5s linear !important;
    }
}

.tabitem {
    transform: translateY(100px);
    position: absolute;
    z-index: -1;
    top: 60px;
    width: 100%;
    opacity: 0;
    transition: 0.5s all;
}

.tabitem.active {
    position: initial;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
}

// // Tab Ends

// .styleshadow {
// 	&:hover {
// 		box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
// 		transform: scale(1.05);
// 		z-index: 10;
// 	}
// }

// .table-style {
// 	table {
// 		border-collapse: collapse;
// 		border-spacing: 0;
// 		width: 100%;
// 		border-top: 1px solid #1E2132;
// 		min-width: 768px;

// 	}

// 	tr {
// 		border-bottom: 1px solid #1E2132;
// 	}
// }

.max-unset {
    max-width: unset;
}

.accordion-single {
    transition: 0.5s linear;

    &.active {

        // border-color: #99C306;
        .accordion-btn {
            // color: #99C306;
            transition: 0.5s linear;
        }

        .arrowclickable {
            transform: rotate(180deg);
            transition: 0.5s linear;

            .ph-plus {
                display: none;
            }

            .ph-minus {
                display: block;
            }
        }
    }

    .arrowclickable {
        transition: 0.5s linear;
    }
}

.counters {
    span {
        line-height: inherit;
        font-size: inherit !important;
        font-weight: inherit !important;
        color: inherit !important;
    }
}


// Custom Tabs