// <===== custom area starts here =====>

// Faq 
.accordion-item {
    &.active {
        position: relative;
        background: linear-gradient(90deg, #44386E 0%, #000000 100%);  
        border: transparent;
        &::before { 
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 10px;
            padding: 1px;
            background: linear-gradient(180deg,#12003D,#7E49FF);
            mask: linear-gradient(#000 0 0) content-box, 
            linear-gradient(#000 0 0);
            mask-composite: exclude; 
        }
        .accordion-text {
            color: #FFFFFFCC;
        }
        .accordion-title  {
            color: #FFFFFF;
        }
    }
    
}

  

// Media flow page 
.media-typeitem {
  li {
    &:nth-child(1) {
      background-color: #1A9BFC3D;
      color: #1A9BFC;
    }
    &:nth-child(2) {
      background-color: #FEC90F3D;
      color: #FEC90F;
    }
  }
}
