// <===== Side navbar area starts here =====>
// Side navbar gradient background

// .cmngradient1hvr:hover::after {
//     opacity: 1;

// }

.btngrdnt {
    background: linear-gradient(0deg, #7E49FF 0%, #12003D 100%);
    border-radius: 8px;
    padding: 1px;
    border: none;
    cursor: pointer;
    background-position: bottom;
    transition: background-position 0.4s ease;

    // &:hover {
    //     background: linear-gradient(0deg, #12003D 0%, #7E49FF 100%);
    //     background-position: top;
    // }

    .btngrdnt-child {
        background: linear-gradient(180deg, #44386E 0%, #000000 100%);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: background-position 0.4s ease;
    }
}

// <===== Side navbar area ends here =====>
// <===== product inverntory area starts here =====>
.productinverntoryscroll {
    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--color-primary);
        -webkit-border-radius: 80px;
        border-radius: 80px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 80px;
        border-radius: 80px;
        background-color: transparent !important;
    }
}

.tbneeds {
    padding-bottom: 20px !important;
}

// <===== product inverntory area ends here =====>

.newexreq {
    table {
        tbody {
            td {
                padding: 20px 20px 0px 25px;
                font-size: 14px;
            }
        }
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.newordertable {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.ticketpurchasestable {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.forlineactive {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 31px;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 2px;
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.25s ease, opacity 0.25s ease;
    }
}


// Add new product section starts

.eventnotify {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.experformance {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

// Add new product section ends
.date-input {
    position: relative;
}

/* Remove default icon */
.date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Add custom icon */
// Chart area starts
.apexcharts-legend-text {
    color: #fff;
}

.apexcharts-legend-marker {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50px !important;
}

// Chart area ends
// Expungement History section starts

// Expungement History section Ends here