// <===== Side navbar area starts here =====>
// Side navbar gradient background

// .cmngradient1hvr:hover::after {
//     opacity: 1;

// }

.btngrdnt {
    background: linear-gradient(0deg, #7E49FF 0%, #12003D 100%);
    border-radius: 8px;
    padding: 1px;
    border: none;
    cursor: pointer;
    background-position: bottom;
    transition: background-position 0.4s ease;

    // &:hover {
    //     background: linear-gradient(0deg, #12003D 0%, #7E49FF 100%);
    //     background-position: top;
    // }

    .btngrdnt-child {
        background: linear-gradient(180deg, #44386E 0%, #000000 100%);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: background-position 0.4s ease;
    }
}

// <===== Side navbar area ends here =====>
// <===== product inverntory area starts here =====>
.productinverntoryscroll {
    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--color-primary);
        -webkit-border-radius: 80px;
        border-radius: 80px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 80px;
        border-radius: 80px;
        background-color: transparent !important;
    }
}

.tbneeds {
    padding-bottom: 20px !important;
}

// <===== product inverntory area ends here =====>

.newexreq {
    table {
        tbody {
            td {
                padding: 20px 20px 0px 25px;
                font-size: 14px;
            }
        }
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.newexreqtwo {
    table {
        tbody {
            td {
                padding: 20px 20px 0px 25px;
                font-size: 14px;
            }
        }
    }


    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.newordertable {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.ticketpurchasestable {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.forlineactive {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 31px;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 2px;
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.25s ease, opacity 0.25s ease;
    }
}


// Add new product section starts

.eventnotify {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.activeinvoices {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.experformance {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
.teamlistsscroll{
        -ms-overflow-style: none;
            scrollbar-width: none;
        
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
}

// Add new product section ends
.date-input {
    position: relative;
}

/* Remove default icon */
.date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* Add custom icon */
// Chart area starts
.apexcharts-legend-text {
    color: #fff;
}

.apexcharts-legend-marker {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50px !important;
}

// Chart area ends
// Event Expungement section starts
.revuenuebg {
    background-image: url('/images/eventmanagementbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Event Expungement section Ends here

// Switch Toggle Button Starts here
/* From Uiverse.io by ozgeozkaraa01 */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    border-radius: 17px;
    background-color: #424040;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.toggle-label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.toggle-input:checked+.toggle-label {
    background-color: #39CB7F;
}

.toggle-input:checked+.toggle-label:before {
    transform: translateX(18px);
}

// Switch Toggle Button Ends here
.suggtionfillinfo {
    -ms-overflow-style: 6px;
    scrollbar-width: 6px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
}

.gradientsuggtion {
    &:hover {
        background: linear-gradient(0deg, #12003D 0%, #7E49FF 100%);
    }

    cursor: pointer;
}

// Faq 
.accordion-item {
    &.active {
        position: relative;
        background: linear-gradient(0deg, #44386E 0%, #000000 100%);  
        border: transparent;
        &::before { 
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 10px;
            padding: 1px;
            background: linear-gradient(180deg,#12003D,#7E49FF);
            mask: linear-gradient(#000 0 0) content-box, 
            linear-gradient(#000 0 0);
            mask-composite: exclude; 
        }
        .accordion-text {
            color: #FFFFFFCC;
        }
        .accordion-title  {
            color: #FFFFFF;
        }
    }
    
}

  

// Media flow page 
.media-typeitem {
  li {
    &:nth-child(1) {
      background-color: #1A9BFC3D;
      color: #1A9BFC;
    }
    &:nth-child(2) {
      background-color: #FEC90F3D;
      color: #FEC90F;
    }
  }
}

// Gradiant button two 
.btngrdnt-2 {
    background: linear-gradient(0deg, #FF3030 0%, #000000 100%);
    border-radius: 8px;
    padding: 1px;
    border: none;
    cursor: pointer;
    background-position: bottom;
    transition: background-position 0.4s ease;

    .btngrdnt-child-2 {
        background: linear-gradient(180deg, #FF303066 0%, #230000 100%);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: background-position 0.4s ease;
    }
}